#root {
    max-width: 1280px;
    margin: 0 auto;
    margin-inline: auto;
    padding: 2rem;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.dashboard {
    margin: auto;
  
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.live-feeds,
.birds-eye {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    background: wh;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #e3f2fd;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}
